{% extends 'index.html' %}

{% block content %}
<style>
    table {
        width: 10%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 2px solid #681d1d;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f51111;
        color: #333;
    }

    tr:first-child th {
        background-color: #4CAF50;
        color: rgb(17, 127, 253);
    }

    /* Estilos para dividir en dos columnas usando Bootstrap */
    .row {
        display: flex;
    }

    .column {
        flex: 50%;
        padding: 10px;
    }

    .sequence {
        display: flex;
        flex-wrap: wrap;
    }

    .sequence span {
        display: inline-block;
        padding: 5px;
        margin: 0px;
        border-radius: 3px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-align: center;
    }

    pre {
        font-size: 1.2em;
        /* Tamaño de letra más grande */
    }

    .A {
        background-color: #6BCB77;
        color: black;
    }

    .C {
        background-color: #FFD93D;
        color: black;
    }

    .G {
        background-color: #FF6B6B;
        color: white;
    }

    .T {
        background-color: #4D96FF;
        color: white;
    }

    .U {
        background-color: #CDB4DB;
        color: black;
    }

    .alignment-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        max-height: 150px;
        /* Altura máxima del card */
        overflow-y: auto;
        /* Habilita scroll vertical si el contenido excede la altura máxima */
    }
</style>

<div class="row">
    <div class="column">
        <h2>Secuencias Ingresadas para el Alineamiento Estrella</h2>
        {% for sequence in sequences %}
            <p>Input número S{{ loop.index }}: {{ sequence }}</p>
        {% endfor %}
        <h3>Matriz de Score</h3>
        <p>Tipo de result: {{ result.__class__.__name__ }}</p>
            {% if result and result|length > 1 %}
            <table>
                {% for row in result %}
                <tr>
                    {% for item in row %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p style="color: red;">La matriz de score no está disponible.</p>
            {% endif %}
        <h3>Secuencia Central</h3>
        <p>La secuencia central es <strong>{{ find_secuencia_central[0] }}</strong> con la suma de score de <strong>{{
                find_secuencia_central[1] }}</strong></p>
    </div>
    <div class="column">
        <h3>Secuencias alineadas con <strong>{{ find_secuencia_central[0] }}</strong>:</h3>
        <div class="alignment-card">
            <ul>
                {% for al in aligned_sequences %}
                <li>
                    <pre class="sequence" style="white-space: nowrap;">
                        {% for char in al[0] %}
                            <span class="{{ char }}">{{ char }}</span>
                        {% endfor %}
                    </pre>
                    <pre class="sequence" style="white-space: nowrap;">
                        {% for char in al[1] %}
                            <span class="{{ char }}">{{ char }}</span>
                        {% endfor %}
                    </pre>
                </li>
                {% endfor %}
            </ul>
        </div>

        <h3>Alineamiento Multiple <strong>{{ find_secuencia_central[0] }}</strong>:</h3>
        <div class="alignment-card">
            <ul>
                {% for m in msa %}
                <li>
                    <pre class="sequence" style="white-space: nowrap;">
                        {% for char in m %}
                            <span class="{{ char }}">{{ char }}</span>
                        {% endfor %}
                    </pre>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}